{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="{% static "page_create.js" %}"></script>
    <script src="{% static "libs/tinymce/tinymce.min.js" %}"></script>
</head>

<body>
<form action="{% url 'pages:edit' header_title=page.header_title %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="main-wrapper">
        {#    Header#}
        <div class="header-wrapper">
            <h1 class="title">Header</h1>
            <div class="header-content">
                <div class="block">
                    <div class="group-input3">
                        <label>
                            Page Title
                            <div class="tool-tips">
                                <i class="fas fa-info-circle"></i>
                                <img src=""/>
                            </div>
                        </label>
                        <input name="header_title" placeholder="Please enter unique Page Title"
                               value="{{ page.header_title }}" required/>
                    </div>
                    <div class="group-input3 input-file">
                        <label>
                            Logo Upload
                            <div class="tool-tips">
                                <i class="fas fa-info-circle"></i>
                                <img src=""/>
                            </div>
                        </label>
                        <div class="button">
                            <div class="fake-btn">
                                <i class="fas fa-upload"></i>
                                Choose a file
                            </div>
                            <input name="header_logo" type="file"/>
                        </div>
                    </div>
                    <div class="group-input3"></div>
                </div>
                <div class="block">
                    <div class="group-input3">
                        <label>
                            Header Link
                            <div class="tool-tips">
                                <i class="fas fa-info-circle"></i>
                                <img src=""/>
                            </div>
                        </label>
                        <input name="header_link_text_0" placeholder="header link one text"/>
                        <input name="header_link_url_0" placeholder="header link one url"/>
                    </div>
                    <div class="group-input3">
                        <label>
                            Header Link
                            <div class="tool-tips">
                                <i class="fas fa-info-circle"></i>
                                <img src=""/>
                            </div>
                        </label>
                        <input name="header_link_text_1" placeholder="header link two text"/>
                        <input name="header_link_url_1" placeholder="header link two url"/>
                    </div>
                    <div class="group-input3">
                        <label>
                            Header Link
                            <div class="tool-tips">
                                <i class="fas fa-info-circle"></i>
                                <img src=""/>
                            </div>
                        </label>
                        <input name="header_link_text_2" placeholder="header link three text"/>
                        <input name="header_link_url_2" placeholder="header link three url"/>
                    </div>
                </div>
            </div>
        </div>

        {#    Body#}
        <div class="body-wrapper">
            <h1 class="title">Body</h1>

            <div class="block">
                <label>
                    Headings
                    <div class="tool-tips">
                        <i class="fas fa-info-circle"></i>
                        <img src=""/>
                    </div>
                </label>
                <div id="body_heading" class="tinymce"></div>

            </div>

            <div class="block">
                <div class="group-input3 input-file">
                    <label>
                        Product Image
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <div class="button">
                        <div class="fake-btn">
                            <i class="fas fa-upload"></i>
                            Choose a file
                        </div>
                        <input name="body_pr_image" type="file"/>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="group-input3 input-file">
                    <label>
                        Background Image
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <div class="button">
                        <div class="fake-btn">
                            <i class="fas fa-upload"></i>
                            Choose a file
                        </div>
                        <input name="body_bg_image" type="file"/>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="group-input2">
                    <label>
                        Buy Button Html
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <select name="body_bb_type" onchange="on_change_buy_button(this.value)">
                        <option value="0">Please Select</option>
                        <option value="1">Buy button through code</option>
                        <option value="2">Buy button through image</option>
                    </select>
                </div>
                <div class="group-input2">
                    <div id="buy-button-code" style="display: none;">
                        <label>
                            Buy button through code
                        </label>
                        <textarea name="body_bb_code"></textarea>
                    </div>
                    <div id="buy-button-image" style="display: none;">
                        <label>
                            Buy button through image
                        </label>
                        <div class="input-file">
                            <div class="button">
                                <div class="fake-btn">
                                    <i class="fas fa-upload"></i>
                                    Choose a file
                                </div>
                                <input name="body_bb_image" type="file"/>
                            </div>
                        </div>
                        <label>
                            Button Link
                        </label>
                        <input name="body_bb_link" type="text"/>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="group-input2">
                    <label>
                        Heading Above Buy Button
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <div id="body_above_bb" class="tinymce"></div>
                </div>
                <div class="group-input2">
                    <label>
                        Heading Below Buy Button
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <div id="body_below_bb" class="tinymce"></div>
                </div>
            </div>

            <div class="block">
                <div class="body image-video">
                    {% for i in 'xxxxxxxxxx' %}
                        <div class="block" id="body_{{ forloop.counter0 }}" style="display: none;">
                            <div class="block">
                                <div class="group-input3">
                                    <label>
                                        Image/Video {{ forloop.counter0 }}
                                        <div class="tool-tips">
                                            <i class="fas fa-info-circle"></i>
                                            <img src=""/>
                                        </div>
                                    </label>
                                    <select name="body_iv_type_{{ forloop.counter0 }}"
                                            onchange="on_change_body_iv(this.value, {{ forloop.counter0 }})">
                                        <option value="0">Please Select</option>
                                        <option value="1">Image</option>
                                        <option value="2">Video</option>
                                    </select>
                                </div>
                                <div class="group-input3">
                                    <div class="input-file" id="image-{{ forloop.counter0 }}" style="display: none;">
                                        <label>
                                            Image file
                                        </label>
                                        <div class="button">
                                            <div class="fake-btn">
                                                <i class="fas fa-upload"></i>
                                                Choose a file
                                            </div>
                                            <input name="body_iv_image_{{ forloop.counter0 }}" type="file"/>
                                        </div>
                                    </div>
                                    <div id="video-{{ forloop.counter0 }}" style="display: none;">
                                        <label>
                                            Video Embed Url
                                        </label>
                                        <textarea name="body_iv_video_{{ forloop.counter0 }}"></textarea>
                                    </div>
                                </div>
                                <div class="group-input3" id="button">
                                    <button class="button" type="button"
                                            onclick="delete_body_iv({{ forloop.counter0 }})"> Remove Row
                                    </button>
                                </div>
                            </div>
                            <div class="block">
                                <label>
                                    Image {{ forloop.counter0 }} text Field
                                    <div class="tool-tips">
                                        <i class="fas fa-info-circle"></i>
                                        <img src=""/>
                                    </div>
                                </label>
                                <div class="tinymce" id="body_iv_textfield_{{ forloop.counter0 }}"></div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="block">
                <div class="group-input3"></div>
                <div class="group-input3"></div>
                <div class="group-input3" id="button">
                    <button class="button" type="button" onclick="add_body_iv()">
                        Add
                        New
                        Row
                    </button>
                </div>
            </div>
        </div>

        <div class="body-wrapper">
            <h1 class="title">Testimonial</h1>

            <div class="block">
                <label>
                    Testimonial Heading
                    <div class="tool-tips">
                        <i class="fas fa-info-circle"></i>
                        <img src=""/>
                    </div>
                </label>
                <div id="testimonial_heading" class="tinymce"></div>
            </div>

            <div class="block">
                <label>
                    Slider
                    <div class="tool-tips">
                        <i class="fas fa-info-circle"></i>
                        <img src=""/>
                    </div>
                </label>
                <label class="switch">
                    <input name="testimonial_slider" type="checkbox" value="on">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="block">
                <div class="testimonial image-video">
                    {% for _ in 'xxxxxxxxxx' %}
                        <div class="block" id="testimonial_{{ forloop.counter0 }}" style="display: none;">
                            <div class="block">
                                <div class="group-input3">
                                    <label>
                                        Image/Video {{ forloop.counter0 }}
                                        <div class="tool-tips">
                                            <i class="fas fa-info-circle"></i>
                                            <img src=""/>
                                        </div>
                                    </label>
                                    <select name="testimonial_iv_type_{{ forloop.counter0 }}"
                                            onchange="on_change_testimonial_iv(this.value, {{ forloop.counter0 }})">
                                        <option value="0">Please Select</option>
                                        <option value="1">Image</option>
                                        <option value="2">Video</option>
                                    </select>
                                </div>
                                <div class="group-input3">
                                    <div class="input-file" id="image-{{ forloop.counter0 }}" style="display: none;">
                                        <label>
                                            Image file
                                        </label>
                                        <div class="button">
                                            <div class="fake-btn">
                                                <i class="fas fa-upload"></i>
                                                Choose a file
                                            </div>
                                            <input name="testimonial_iv_image_{{ forloop.counter0 }}" type="file"/>
                                        </div>
                                    </div>
                                    <div id="video-{{ forloop.counter0 }}" style="display: none;">
                                        <label>
                                            Video Embed Url
                                        </label>
                                        <textarea name="testimonial_iv_video_{{ forloop.counter0 }}"></textarea>
                                    </div>
                                </div>
                                <div class="group-input3" id="button">
                                    <button class="button" type="button"
                                            onclick="delete_testimonial_iv({{ forloop.counter0 }})"> Remove Row
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="block">
                <div class="group-input3"></div>
                <div class="group-input3"></div>
                <div class="group-input3" id="button">
                    <button class="button" type="button"
                            onclick="add_testimonial_iv()">
                        Add Row
                    </button>
                </div>
            </div>
        </div>

        {#    Video Row#}
        <div class="body-wrapper">
            <h1 class="title">Video Row</h1>

            <div class="block">
                <label>
                    Number Of Columns
                    <div class="tool-tips">
                        <i class="fas fa-info-circle"></i>
                        <img src=""/>
                    </div>
                </label>

                <select onchange="on_add_video_row(this)">
                    <option value="0">Please Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

            </div>

            <div class="block video-rows">
                {% for _ in 'xxxx' %}
                    <div class="block" id="video-rows-{{ forloop.counter0 }}" style="display: none">
                        <div>
                            <label> Video Embed Url </label>
                        </div>
                        <div class="block">
                            <div class="group-input2">
                                <textarea name="video_url_{{ forloop.counter0 }}"></textarea>
                            </div>
                            <div class="group-input2" id="button">
                                <button class="button" type="button" onclick="delete_video_row({{ forloop.counter0 }})">
                                    Delete Row
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {#    Footer#}
        <div class="body-wrapper">
            <h1 class="title">Footer</h1>

            <div class="block">
                <div class="group-input3">
                    <label>
                        Address
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <input name="footer_address" placeholder="enter address here..."/>
                </div>
                <div class="group-input3"></div>
                <div class="group-input3"></div>
            </div>

            <div class="block">
                <div class="group-input3">
                    <label>
                        Footer Link
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <input name="footer_link_text_0" placeholder="footer link one text"/>
                    <input name="footer_link_url_0" placeholder="footer link one url"/>
                </div>
                <div class="group-input3">
                    <label>
                        Footer Link
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <input name="footer_link_text_1" placeholder="footer link two text"/>
                    <input name="footer_link_url_1" placeholder="footer link two url"/>
                </div>
                <div class="group-input3">
                    <label>
                        Footer Link
                        <div class="tool-tips">
                            <i class="fas fa-info-circle"></i>
                            <img src=""/>
                        </div>
                    </label>
                    <input name="footer_link_text_2" placeholder="footer link three text"/>
                    <input name="footer_link_url_2" placeholder="footer link three url"/>
                </div>
            </div>

            <div class="block">
                <div class="group-input2">
                    <label> Color Select </label>
                    <input name="footer_color_select" placeholder="color select..."/>
                </div>

                <div class="group-input2">
                    <label> Font Size </label>
                    <input name="footer_font_size" placeholder="enter font size (digits only)"/>
                </div>
            </div>
        </div>

        <div class="body-wrapper">
            <div class="block">
                <label> Tracking code </label>
                <textarea name="footer_tracking_code"></textarea>
            </div>

            <div class="block">
                <div class="group-input3">
                    <label> Facebook Title </label>
                    <input name="footer_facebook_title" placeholder="please enter Facebook title"/>
                </div>

                <div class="group-input3 input-file">
                    <label> Facebook Image </label>
                    <div class="button">
                        <div class="fake-btn">
                            <i class="fas fa-upload"></i>
                            Choose a file
                        </div>
                        <input name="footer_facebook_image" type="file"/>
                    </div>
                </div>

                <div class="group-input3"></div>
            </div>
            <div class="block">
                <div class="group-input2">
                    <label> Facebook Description </label>
                    <textarea name="footer_facebook_description"></textarea>
                </div>

                <div class="group-input2"></div>
            </div>
        </div>

        <div class="body-wrapper">
            <div class="block">
                <div class="group-input3"></div>
                <div class="group-input3">
                    <div class="block">
                        <div class="group-input2">
                            <input class="button submit" name="submit" type="submit" value="Submit"/>
                        </div>

                        <div class="group-input2">
                            <input class="button submit" name="submit" type="submit" value="Publish"/>
                        </div>
                    </div>
                </div>
                <div class="group-input3"></div>
            </div>
        </div>
    </div>

</form>
</body>

<script> init_mce(); </script>

</html>